.video_container{
    min-width: 100%;
    max-width: 100%;
    min-height: 360px;
}

.player{

    /* pointer-events: none; */
    min-width: 100%;
    max-width: 100%;
    
    min-height: 100%;
    max-height: 100%;
}